body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .bgcolor{
    background-color: #F3BA2F;
  }
  .color{
    color: #F3BA2F;
  }
  .dark-theme{
    background-color: black;
    color: white;
  }
  .dark-sidebar{
    background-color: #201f1f;
    color: white;
  }
  .dark-hover{
    background-color: #333333;
    color: white;
  }
}
